@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sfpro";
    src: url("../static/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
    font-family: "sfpro-bold";
    src: url("../static/fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
    font-family: "sfpro-light";
    src: url("../static/fonts/SF-Pro-Display-Light.otf");
}