<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body style="background-image: url('../static/images/background.jpg')">
    <div class="max-w-72 mx-auto mt-10 bg-opacity-25"></div>
        <form method="POST" class="flex justify-center bg-opacity-0">
            <input class="focus:outline-none focus:ring-0 text-1xl px-8 py-4 text-slate-200 text-center font-sfprolight bg-gray-300 bg-opacity-40 rounded-full shadow-lg" type="text" id="city" name="city" required>
        </form>
    </div>

    <div class="max-w-72 mx-auto mt-10 bg-opacity-0">
        <h1 class="text-4xl text-slate-50 text-center font-sfprolight pb-4">
            <p>{{ data['city'] }}</p>
        </h1>
        <h2 class="text-l text-slate-100 text-center font-sfprolight">
            <p>{{ data['time'] }}</p>
        </h2>
    </div>

    <div class="max-w-72 mx-auto mt-10 bg-gray-300 bg-opacity-40 backdrop-blur-16px p-8 rounded-lg shadow-lg">
        <h1 class="text-7xl text-slate-50 text-center font-sfpro">
            <p>{{ data['temp'] }}°</p>
        </h1>
        <h2 class="text-l text-slate-100 text-center font-sfpro">
            <p>{{ data['wmo'] }}</p>
        </h2>
    </div>

    <div class="max-w-96 mx-auto mt-10 bg-gray-300 bg-opacity-40 backdrop-blur-16px p-8 rounded-lg shadow-lg">
        <h2 class="text-l text-slate-100 font-sfpro pb-4">
            <p class="flex justify-between items-center">
                <span class="text-left font-sfprolight">{{ next_12_time[0] }}</span>
                <span class="text-right text-xl">{{ next_12_temp[0] }}°</span>
            </p>
        </h2>

        <h2 class="text-l text-slate-100 font-sfpro pb-4">
            <p class="flex justify-between items-center">
                <span class="text-left font-sfprolight">{{ next_12_time[1] }}</span>
                <span class="text-right text-xl">{{ next_12_temp[1] }}°</span>
            </p>
        </h2>

        <h2 class="text-l text-slate-100 font-sfpro">
            <p class="flex justify-between items-center">
                <span class="text-left font-sfprolight">{{ next_12_time[2] }}</span>
                <span class="text-right text-xl">{{ next_12_temp[2] }}°</span>
            </p>
        </h2>
    </div>
</body>
</html>